.main-cnt {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.card-cnt {
  width: 375px;
  height: 200px;
  background-color: hsl(279, 71%, 25%);
}

.main-card-back-cnt {
  padding-left: 95px;
  padding-top: 10px;
}

.main-card-front-cnt {
  padding-left: 35px;
  padding-top: 100px;
}

.main-form-cnt {
  padding-top: 40px;
}
