.main-cnt {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.card-cnt {
  width: 100%;
  max-width: 375px;
  height: 200px;
  background-color: hsl(279, 71%, 25%);
}

.main-card-back-cnt {
  padding-left: 95px;
  padding-top: 10px;
}

.main-card-front-cnt {
  padding-left: 35px;
  padding-top: 100px;
}

.main-form-cnt {
  padding-top: 40px;
}

@media screen and (min-width: 747px) {
  .main-cnt {
    display: flex;
    flex-direction: row;
    gap: 45px;
  }
  .card-cnt {
    width: 100%;
    max-width: 475px;
    height: 790px;
    background-image: linear-gradient(
      to right,
      hsl(249, 75%, 63%),
      hsl(278, 97%, 34%)
    );
    display: flex;
    flex-direction: column-reverse;
  }
  .main-card-back-cnt {
    padding-left: 295px;
    padding-bottom: 360px;
    padding-top: 2px;
  }
  .main-card-front-cnt {
    padding-left: 205px;
    padding-bottom: 280px;
    padding-top: 1px;
  }
  .main-form-cnt {
    width: 750px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 750px;
  }
}
