.front-card-cnt {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 235px;
  min-height: 130px;
  border-radius: 7px;
  background-image: linear-gradient(
    to right,
    hsl(249, 99%, 64%),
    hsl(278, 94%, 30%)
  );
  z-index: 3;
}

.front-card-empty-cnt {
  display: flex;
  align-items: center;
  gap: 12px;
}

.first-empty-cnt {
  background-color: aliceblue;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.second-empty-cnt {
  border: 1px solid aliceblue;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.card-font-name-date-cnt {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 50px;
  width: 200px;
}

.card-back-cnt {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 235px;
  min-height: 130px;
  border-radius: 7px;
  background-color: rgb(240, 238, 238);
  justify-content: center;
  align-items: center;
  gap: 15px;
  z-index: 1;
}

.card-back-empty {
  width: 235px;
  height: 25px;
  background-color: black;
}

.card-back-cvc-cnt {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 12px;
  width: 180px;
  height: 30px;
  background-color: rgb(182, 181, 181);
  border-radius: 4px;
}

.card-back-cvc {
  color: aliceblue;
}

.front-card-cardnum-cnt {
  display: flex;
  justify-content: center;
}

.front-card-empty-cnt {
  padding-left: 20px;
  padding-top: 10px;
}

.front-card-dtls-cnt {
  padding-top: 20px;
}
