.small-input-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 35px;
}

.name,
.number {
  max-width: 300px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  padding-left: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 335px;
  max-width: fit-content;
  width: 100%;
}

.month-yr-input-cnt {
  display: flex;
  gap: 4px;
}

.month,
.year,
.cvc {
  max-width: 50px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  padding-left: 10px;
}

.small-cvc-cnt {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  width: 60px;
  height: 60px;
  bottom: 21px;
  position: relative;
}

.month-yr-input-cnt {
  display: flex;
  height: 100px;
}

.month-yr-cvc-input-cnt {
  display: flex;
  flex-direction: column;
  padding-left: 35px;
}

.frm-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
}

.submit-btn {
  width: 210px;
  height: 40px;
  border-radius: 5px;
  color: aliceblue;
  font-size: 0.8rem;
  background-color: rgb(38, 2, 71);
}

@media screen and (min-width: 747px) {
  .form-cnt {
  }

  .name,
  .number {
    max-width: 800px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    padding-left: 10px;
  }
}
